[Unit]
Description=Intranet Ntfyer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/docker compose up
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target